<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farm</title>
</head>

<body>

    <h1>Add A Farm</h1>
    <form action="/farms" method="POST">
        <dir>
            <label for="name">Farm Name:</label>
            <input type="text" name="name" id="name" placeholder="Farm name" autocomplete="off">
        </dir>
        <dir>
            <label for="city">City:</label>
            <input type="text" name="city" id="city" placeholder="City" autocomplete="off">
        </dir>
        <dir>
            <label for="email">Farm Name:</label>
            <input type="email" name="email" id="email" placeholder="Email" autocomplete="off">
        </dir>


        <button>Submit</button>
    </form>
    <a href="/products">All Products</a>
</body>

</html>